/*nav tweet css*/
.navbar {
  padding: 30px;
  height: 120px;
  width: 100%;
  top: 0;
  z-index: 100;
  background-image: url("/images/background-img.png");
  color: #ffffff;
  padding: 1.5em;
}
.navbar-logo {
  font-family: "Bungee", cursive;
}
.newTweet {
  float: right;
}
